*.log
.htaccess
composer.lock

public/wp
vendor
public/wp-content/plugins
public/wp-config.php
public/wp-content/uploads

#gitignore for theme folder
!/public/wp-content/themes/Resolution
/public/wp-content/themes/Resolution/node_modules
/public/wp-content/themes/Resolution/dist/css
/public/wp-content/themes/Resolution/dist/js
/public/wp-content/themes/Resolution/*.map
/public/wp-content/themes/Resolution/.sass-cache
