*.log
.htaccess
composer.lock

public/wp
vendor
public/wp-content/plugins
public/wp-config.php
public/wp-content/uploads

#gitignore for theme folder
!/public/wp-content/themes/Mr-Robot
/public/wp-content/themes/Mr-Robot/node_modules
/public/wp-content/themes/Mr-Robot/dist/css
/public/wp-content/themes/Mr-Robot/dist/js
/public/wp-content/themes/Mr-Robot/*.map
/public/wp-content/themes/Mr-Robot/.sass-cache
